<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="App_Data/Nlog.Error.log"
      internalLogLevel="Warn"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      autoReload="true"
      >

    <!-- ${longdate} ${logger} ${longdate}|${level:uppercase=true}|${logger}|${message} -->
    <variable name="filePath" value="${basedir}/App_Data/Logs"/>
    <!-- async="true" targets 属性-->
    <targets>
        <target name="trace" xsi:type="Trace" layout="${message}"/>
        <target name="filelogger" xsi:type="File" encoding="utf-8"
                layout="${longdate}|${level:uppercase=true}|${logger}|${newline}${message}${newline}${newline}"
                fileName="${filePath}/${logger}.log"
                archiveFileName="${filePath}/${logger}.{#}.log"
                archiveAboveSize="1048576"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yy-MM-dd"
                maxArchiveFiles="100"
                concurrentWrites="true"
                keepFileOpen="false" />
    </targets>

    <rules>
      <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
      <logger name="Xpress.*" minlevel="Trace" writeTo="filelogger"/>
      <logger name="OrderServer.*" minlevel="Info" writeTo="filelogger"/>
      <logger name="TicketServer.*" minlevel="Info" writeTo="filelogger"/>
      <logger name="VipCardServer.*" minlevel="Info" writeTo="filelogger"/> 
    </rules>
</nlog>
